/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Layout for the application */
.app {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 150px;
    width: 100%;
    min-height: 100vh;
    background-color: #ebf0f7;
}

.project {
    padding: 2rem;
    max-width: 75%;
    width: 100%;
    display: inline-block;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.project-info input {
    margin-bottom: 10px; /* Add space between input fields */
}

#addTaskBtn {
    margin-top: 10px; /* Add space between the last input field and the button */
}

.project-tasks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-column-gap: 1.5rem;
}

.task {
    cursor: move;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
}

.task:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color: rgba(162, 179, 207, 0.2)!important;
}

.task p {
    font-size: 15px;
    margin: 1.2rem 0;
}

#addTaskBtn {
    background-color: #7784ee;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.activity-today-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.activity-today-tasks li {
    font-size: 18px;
    margin-bottom: 5px;
}
